<div class="main-content-headers">
    <div class="column">
            <img src="../../assets/header.png">
    </div>
    <div class="column">
            <img src="../../assets/header.png">
    </div>
    <div class="column">
            <img src="../../assets/header.png">
    </div>
    <div class="column">
            <img src="../../assets/header.png">
    </div>
    <div class="column">
            <img src="../../assets/header.png">
    </div>
    <div class="column">
            <img src="../../assets/header.png">
    </div>
    <div class="column">
            <img src="../../assets/header.png">
    </div>
    <div class="column">
            <img src="../../assets/header.png">
    </div>
    <div class="column">
            <img src="../../assets/header.png">
    </div>
    <div class="column">
            <img src="../../assets/header.png">
    </div>
 </div>
