<div class="main-content-div">
   <div class="column">
      <img src="../../assets/card.png">
   </div>

   <div class="column">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
   </div>

   <div class="column">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
   </div>

   <div class="column">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
   </div>

   <div class="column">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
   </div>

   <div class="column">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
   </div>

   <div class="column">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
   </div>

   <div class="column">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
   </div>

   <div class="column">
         <img src="../../assets/card.png">
   </div>

   <div class="column">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
         <img src="../../assets/card.png">
   </div>
</div>
