.main-content-div {
    height:2000px;
    width:4000px;
    position: absolute;
    top: 90px;
    left: 300px;
    padding-top: 20px;
    padding-left: 10px;
    z-index: -2;
}
.column {
    background-color:#ccc;
    width:300px;
    float:left;
    margin-right: 20px;
    border-radius: 3px;
    text-align: center;

    img {
        width: 95%;
        margin-top: 10px;
        
    }
}
