.data-insights-background {
    background-color: #FFF;
    border-right: 2px solid #CCC;
    width: 300px;
    height: 2300px;
    z-index: 3;
    padding-top: 90px;
    img {
        width: 100%;

    }
    p {
        margin-left: 10px;
        line-height: 12px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}